<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fes</title>
</head>
<body>
  <% files.forEach(s => { %>
  <p><%= s %></p>
  <% }) %>

  <% files.forEach(s => {  %>
  <script src="/?file=<%= encodeURIComponent(s) %>" file="<%= s %>"></script>
  <% }) %>

</body>
</html>
